---
layout: base
eleventyNavigation:
  key: Home

hideHeader: true

jumbotron:
  tagline: Easy and guaranteed access to all of your content
  subtitle: Pay once and store your files permanently on the Arweave.

features:
  - title: Pay once
    explaination: '
      Say no more to recurring payments and subscriptions. Pay once and keep your files forever with Drive!'
  - title: Always available
    explaination: "
      Due to Drive's distributed nature, your stored files are always available anywhere. No more storage outages!"
  - title: Share with everyone
    explaination: '
      Share your stored files with other people without hassle. Share the power of always available storage with others!'
---

<header class="position-absolute w-100">
  <nav class="navbar navbar-light navbar-expand-md container container-fluid">
    <a class="navbar-brand">
      Drive
    </a>
    <span class="flex-grow-1"></span>
    <a class="btn btn-outline-primary" href="/i/">
      Open Drive
    </a>
  </nav>
</header>

<section
  class="jumbotron bg-light min-vh-100 d-flex flex-column justify-content-center"
>
  <div class="container d-flex flex-column flex-md-row align-items-center">
    <div class="col-xl-4 col-lg-6">
      <h1>{{ jumbotron.tagline }}</h1>
      <p class="lead">{{ jumbotron.subtitle }}</p>
      <a class="btn btn-secondary" href="/i/">Go to Drive</a>
    </div>
    <div class="col-xl-8 col-lg-6"></div>
  </div>
</section>

<section>
  <div class="container py-5">
    <div class="row g-3">
      {% for feature in features %}
      <div class="col-lg-4">
        <h2>{{ feature.title }}</h2>
        <p>{{ feature.explaination }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-primary text-light">
  <div class="container text-center py-5">
    <h1 class="mb-3">Let's get started</h1>
    <a class="btn btn-secondary" href="/i/">Go to Drive</a>
  </div>
</section>
