# Credentials
ci-service-account.json

# Generated code
*.g.dart
graphql_api.dart
graphql_api.graphql.dart

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.cache

# IntelliJ (Android Studio)
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/ 
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
macos/flutter/ephemeral
linux/flutter/ephemeral
windows/flutter/ephemeral

scripts/build/.last_build_id
# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Test results
/reports/*

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# direnv
.direnv

# FVM Version Cache
.fvm/

# Ignore node_modules and package-lock.json in ario_sdk/web
packages/ario_sdk/web/node_modules/
packages/ario_sdk/web/package-lock.json

.cursorignore
