name: ardrive
description: Secure, permanent storage

publish_to: "none"

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.14.0

environment:
  sdk: ">=2.13.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  artemis: ^7.0.0-beta.13
  arweave:
    git:
      url: https://github.com/ardriveapp/arweave-dart
      ref: 6814f32dd9db74449c7e40132b0c3fd166af15e5
  cryptography: ^2.0.1
  flutter_bloc: ^8.0.1
  flutter_portal: ^0.4.0
  file_selector: ^0.8.2
  file_selector_web: ^0.8.1
  file_selector_macos: ^0.0.4
  google_fonts: ^2.1.0
  intersperse: ^2.0.0
  intl: ^0.17.0
  json_annotation: ^4.1.0
  mime: ^1.0.0
  moor: ^4.4.1
  path_provider: ^2.0.2
  pedantic: ^1.11.1
  reactive_forms: ^10.4.1
  rxdart: ^0.27.1
  timeago: ^3.1.0
  url_launcher: ^6.0.6
  uuid: ^3.0.4
  http_client: ^1.5.1
  flutter_dropzone: 3.0.4
  responsive_builder: ^0.4.1
  package_info_plus: ^1.0.3
  js: ^0.6.3
  collection: ^1.15.0-nullsafety.4
  csv: 5.0.0
  stash_memory: 4.0.1
  cooky: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: ^1.16.8
  bloc_test: ^9.0.2
  build_runner: ^2.0.4
  moor_generator: ^4.4.1
  mocktail: ^0.2.0
  json_serializable: ^4.1.0

dependency_overrides:
  meta: 1.7.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/config/
    - assets/fonts/
    - assets/images/brand/
    - assets/images/profile/
