name: ardrive
description: Secure, permanent storage

publish_to: 'none'

version: 2.15.0

environment:
  sdk: '>=2.18.5 <3.0.0'
  flutter: 3.10.0

# https://pub.dev/packages/script_runner
script_runner:
  shell:
    default: /bin/sh
    windows: cmd.exe
    macos: /bin/sh
    linux: /bin/sh
  line_length: 80
  scripts:
    - setup: flutter clean && flutter pub get && flutter pub run build_runner build --delete-conflicting-outputs
    - test: flutter test
    - check-db: lefthook/database_checker.sh
    - check-flutter: lefthook/version_checker.sh

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  ardrive_http:
    git:
      url: https://github.com/ar-io/ardrive_http.git
      ref: v1.3.1
  ardrive_io:
    git:
      url: https://github.com/ar-io/ardrive_io.git
      ref: v1.3.0
  ardrive_ui:
    git:
      url: https://github.com/ar-io/ardrive_ui.git
      ref: v1.10.0
  artemis: ^7.0.0-beta.13
  arweave:
    git:
      url: https://github.com/ardriveapp/arweave-dart.git
      ref: v3.7.0
  cryptography: ^2.0.5
  flutter_bloc: ^8.1.1
  file_selector: ^0.9.0
  file_selector_web: ^0.9.0
  file_selector_macos: ^0.9.0
  intersperse: ^2.0.0
  intl: ^0.18.0
  json_annotation: ^4.8.0
  mime: ^1.0.0
  drift: ^2.9.0
  path_provider: ^2.0.2
  reactive_forms: ^14.1.0
  rxdart: ^0.27.1
  timeago: ^3.1.0
  url_launcher: ^6.0.6
  uuid: ^3.0.4
  http_client: ^1.5.1
  flutter_dropzone:
    git:
      url: https://github.com/ar-io/flutter_dropzone
      ref: master
      path: flutter_dropzone
  responsive_builder: ^0.7.0
  package_info_plus: ^3.1.2
  js: ^0.6.3
  collection: ^1.15.0-nullsafety.4
  csv: ^5.0.1
  stash_memory: ^4.3.2
  percent_indicator: ^4.0.0
  flutter_lints: ^2.0.1
  retry: ^3.1.0
  shared_preferences: ^2.0.15
  flutter_launcher_icons: ^0.10.0
  equatable: ^2.0.3
  http: ^0.13.5
  stash: ^4.3.2
  path: ^1.8.1
  flutter_svg: ^1.1.3
  sqlite3_flutter_libs: ^0.5.9
  app_settings: ^4.1.8
  firebase_crashlytics: ^3.0.4
  firebase_core: ^2.1.1
  bloc_concurrency: ^0.2.0
  universal_html: ^2.0.8
  device_info_plus: ^8.2.2
  local_auth: ^2.1.2
  flutter_secure_storage: ^8.0.0
  async: ^2.9.0
  animations: ^2.0.7
  connectivity_plus: ^4.0.0
  archive: ^3.3.0
  video_player: ^2.6.0
  chewie: ^1.4.0
  lottie: ^2.3.0
  visibility_detector: ^0.4.0+2
  bip39: ^1.0.6
  flutter_stripe:
    git:
      url: https://github.com/ardriveapp/flutter_stripe/
      path: packages/stripe
      ref: main
  flutter_stripe_web:
    git:
      url: https://github.com/ardriveapp/flutter_stripe/
      path: packages/stripe_web
      ref: main
  stash_shared_preferences: ^4.6.2
  flutter_portal: ^1.1.3
  flutter_hooks: ^0.18.6
  flutter_multi_formatter: ^2.11.1
  credit_card_validator: ^2.1.0
  tuple: ^2.0.2
  share_plus: ^6.3.4
  flutter_email_sender: ^6.0.1

dependency_overrides:
  ardrive_io:
    git:
      url: https://github.com/ar-io/ardrive_io.git
      ref: PE-4417-export-logs
  flutter_downloader: 1.10.3
  stripe_js:
    git:
      url: https://github.com/ardriveapp/flutter_stripe/
      path: packages/stripe_js
      ref: main
  stripe_platform_interface:
    git:
      url: https://github.com/ardriveapp/flutter_stripe/
      path: packages/stripe_platform_interface
      ref: main

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  bloc_test: ^9.1.0
  build_runner: ^2.0.4
  test: ^1.21.4
  drift_dev:
  mocktail: 0.3.0
  json_serializable:

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/config/
    - assets/fonts/
    - assets/images/
    - assets/images/brand/
    - assets/images/profile/
    - assets/images/login/
    - assets/animations/
