$primary: #344955;
$secondary: #f9aa33;

// Typography
@font-face {
  font-family: Work Sans;
  src: url(../fonts/WorkSans-Regular.ttf);
  font-display: swap;
}

$font-family-base: 'Work Sans', sans-serif;

// Components
.jumbotron {
  background: url(../images/jumbotron-bg.jpg) no-repeat;
  background-size: cover;
}
