<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305132849030-ivpp5546vltkebnd06gui3ntj0fvavk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305132849030-ivpp5546vltkebnd06gui3ntj0fvavk6</string>
	<key>API_KEY</key>
	<string>AIzaSyAVBeyv1xtODuezIcHol0ndj9hafOOLTpI</string>
	<key>GCM_SENDER_ID</key>
	<string>305132849030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ardrive.app</string>
	<key>PROJECT_ID</key>
	<string>ardrive-web</string>
	<key>STORAGE_BUCKET</key>
	<string>ardrive-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305132849030:ios:06ea33a95a2e0d42ffce07</string>
	<key>DATABASE_URL</key>
	<string>https://ardrive-web.firebaseio.com</string>
</dict>
</plist>