<footer class="footer bg-light" role="contentinfo">
    <div class="container">
        <span
            >&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span
        >
        <a href="http://github.com/maxboeck/eleventastic">
            {% icon "github" %}Eleventastic
        </a>
    </div>
</footer>
