<header class="bg-light shadow">
  <nav class="navbar navbar-light navbar-expand-md container container-fluid">
    <a class="navbar-brand" href="/">
      Drive
    </a>
    <span class="flex-grow-1"></span>
    <a class="btn btn-outline-primary" href="/i/">
      Open Drive
    </a>
  </nav>
</header>
