<header class="bg-light shadow fixed-top">
    <nav class="navbar navbar-light navbar-expand-md container container-fluid">
        <a class="navbar-brand">
            🎩 Eleventastic
        </a>
    </nav>
</header>
