{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html"
      }
    }
  ]
}
