<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    {% include "meta.njk" %}
  </head>
  <body>
    <div hidden>{% iconsprite %}</div>

    {% if not hideHeader %} {% include "header.njk" %} {% endif %}

    <main>
      {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script
      type="text/javascript"
      src="{{ '/assets/scripts/main.js' | url }}"
    ></script>
  </body>
</html>
