name: pr check
on:
  pull_request:
    branches:
      - dev

jobs:
  # test:
  #  runs-on: ubuntu-latest
  #  steps:
  #    - uses: actions/checkout@v2
  #      with:
  #        persist-credentials: false
  #    - uses: subosito/flutter-action@v1
  #      with:
  #        channel: 'stable'
  #    - name: Prepare app
  #      run: |
  #        flutter pub get
  #        flutter pub run build_runner build
  #    - name: Run tests
  #      run: flutter test
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - name: Build app
        run: |
          flutter pub get
          flutter pub run build_runner build
          flutter config --enable-web
          flutter build web --profile
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_CI_SERVICE_ACCOUNT }}'
          expires: 14d
